body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 500px;
  border: solid 1px rgb(5, 5, 5);
}

.avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.displayName {
  font-weight: bold;
  padding: 0.5em 0 0.5em 0.5em;
}

.username {
  color: #aaaaaa;
}

.date {
  color: #aaaaaa;
  padding: 1em;
}

.tweet {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1em;
  margin: 0.5em 0;
  max-width: 500px;
}

.tweet p {
  font-size: 16pt;
  font-weight: 400;
  word-wrap: break-word;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  /* overflow:hidden; */
}

.searchbar {
  width: 25%;
}

.button {
  margin: 0;
}

.profilepage {
  display: flex;
}

.userlist {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 8px;
  border: solid 1px #00afd2;
  padding: 8px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
}

.usernamebutton {
  width: 100%;
}

.loginformholder {
  width: 500px;
  height: 500px;
  text-align: center;
  margin: 100px auto auto;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: teal;
}
form {
  margin-top: 50px;
}

.loginheader {
  text-align: center;
  color: lightgray;
  margin: 40px;
}
.inputlogin {
  width: 300px;
  margin-top: 15px;
  color: lightgray;
  background-color: #e6f2ff;
  height: 40px;
  border-radius: 5px;
  text-align: center;
}
.loginbutton {
  width: 300px;
  margin-top: 15px;
  margin-left: 90px;
}

.userlabel {
  color: lightgray;
  font-weight: bold;
}
.postbar {
  width: 100%;
}

.textbox {
  height: 50px;
  resize: vertical;
  word-wrap: break-word;
}

.tweetHeader {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
}

.pushRight {
  flex-direction: row-reverse;
}

.deleteButton {
  transition: all 500ms;
  height: 30px;
  width: 30px;
}

.deleteButton img {
  height: 25px;
  width: 25px;
}
.deleteButton:hover {
  border-radius: 50%;
  background-color: yellow;
}

.registerbutton {
  background-color:teal;
}
